@page
@model IndexModel
@{
    ViewData["Title"] = "Home pag1e";
}

<div class="text-center">
    <h1 class="display-4">Welcom11e</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building We12121b apps with ASP.NET Core</a>.</p>
</div>
